.mainPage {
  background-image: url("./images/bg-dark.png");

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.mainpageText {
  font-size: 5rem;
  color: white;
}

.primaryDark {
  background-color: #5d4576;
}
.primaryLight {
  background-color: #e4888a;
}

.cardSize {
  width: 200px;
}
.cardSize:hover {
  background-color: rgba(250, 111, 114, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
}

.teeth {
  width: 50px;
  height: 50px;
  stroke: red;
}
.lightBtn {
  background-color: #e4888a;
}
.lightBtn:hover {
  background-color: #d84a4d;
}

.middlePageImage {
  background-image: url(./images/smileOverlay.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.Group {
  width: 100px;
  height: 100px;
}
