.mainPage {
  background-image: url("./images/bg-dark.png");

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.mainpageText {
  font-size: 5rem;
  color: white;
}

.primaryDark {
  background-color: #5d4576;
}
.primaryLight {
  background-color: #e4888a;
}

.secondPage {
  margin: 100px;
}
.one {
  margin-right: 20px;
  width: 180px;
  height: 270px;
}
