<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <hr class="d-none d-md-block" width="15%" style=" height:2px ;background-color: red;">
                <h5 class="text-uppercase mb-0 py-3 ">More Pages</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-muted fs-6 ">Services</a>
                    </li>
                    <li>
                        <a href="#!" class="text-muted fs-6 ">Orthodontics</a>
                    </li>
                    <li>
                        <a href="#!" class="text-muted fs-6">Special Offers</a>
                    </li>
                    <li>
                        <a href="#!" class="text-muted fs-6">FAQ</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <hr class="d-none d-md-block" width="15%" style=" height:2px ;background-color: red; ">
                <h5 class="text-uppercase mb-0 py-3"> Quick Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-muted">Contact Us</a>
                    </li>
                    <li>
                        <a href="#!" class="text-muted">Photo gallery</a>
                    </li>
                    <li>
                        <a href="#!" class="text-muted">Vacancies</a>
                    </li>
                    <li>
                        <a href="#!" class="text-muted">Testimonials</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <hr class="d-none d-md-block" width="15%" style=" height:2px ;background-color: red;">
                <h5 class="text-uppercase py-3">Social Links</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-muted">Facebook</a>
                    </li>
                    <li>
                        <a href="#!" class="text-muted">Twitter</a>
                    </li>
                    <li>
                        <a href="#!" class="text-muted">Instagram</a>
                    </li>
                    <li>
                        <a href="#!" class="text-muted">Whatsapp</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <hr class="d-none d-md-block" width="15%" style=" height:2px ;background-color: red;">
                <h5 class="text-uppercase mb-0 py-3">Photo gallery</h5>
                <div class="row ">
                    <div class="column">
                        <img src="./images/Group 9.png" width="20%">
                        <img src="./images/Group 9.png" width="20%">
                        <img src="./images/Group 9.png" width="20%">

                    </div>
                    <div class="column">
                        <img src="./images/Group 9.png" width="20%">
                        <img src="./images/Group 9.png" width="20%">
                        <img src="./images/Group 9.png" width="20%">

                    </div>
                </div>

            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="https://Rajan Dental.com">Rajan Dental.com</a>
    </div>
    <!-- Copyright -->
</footer>